html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
pre,
cite,
code,
dfn,
abbr,
acronym,
kbd,
a,
samp,
img,
ins,
i,
b,
u,
strike,
small,
big,
font,
tt,
q,
dl,
dt,
dd,
ul,
ol,
li,
applet,
object,
iframe,
form,
fieldset,
label,
legend,
th,
td,
th,
tbody,
tfoot,
thead,
tr,
caption {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
img {
  display: block;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin-left: 0;
}

html,
body {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-bullet {
  list-style: none;
  margin-left: 0;
}

.display-block {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
}

/*
   * Emphatic
   */

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  -webkit-transition: background-color 0.125s 0.175s ease-in;
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic .hamburger-inner::after {
  top: 9px;
  right: 0;
  -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.hamburger--emphatic.is-active .hamburger-inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -60px;
  top: -60px;
  -webkit-transform: translate3d(60px, 60px, 0) rotate(45deg);
          transform: translate3d(60px, 60px, 0) rotate(45deg);
  -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -60px;
  top: -60px;
  -webkit-transform: translate3d(-60px, 60px, 0) rotate(-45deg);
          transform: translate3d(-60px, 60px, 0) rotate(-45deg);
  -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* General
------------------------------------------------  */

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;
  color: #3c3f3c;
  background: white;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

p,
ul,
ol,
table {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

strong {
  font-weight: 800;
}

a {
  color: #ff5653;
  text-decoration: none;
}

a:hover,
a:focus,
li.current-page a {
  color: #075659;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica", sans-serif;
  color: #075659;
  margin-bottom: 0.25rem;
  line-height: 1.25;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

ul {
  margin-left: 1rem;
}

img {
  max-width: 100%;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 100%;
  padding: 0.5rem;
  color: #ff5653;
}

.btn:hover {
  color: #075659;
}

/* Site container
------------------------------------------------  */

.site-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/* Background colors
------------------------------------------------  */

.bg--header {
  background-size: cover;
  margin-bottom: 12rem;
}

.bg--form {
  background: #f0f0f0;
  padding: 3rem 0;
  margin: 3rem 0 2rem;
}

/* Site header
------------------------------------------------  */

.site-header {
  min-height: 120px;
}

.site-branding {
  width: 120px;
  height: 140px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -60px;
  top: 3.75rem;
}

/* Site hero
------------------------------------------------  */

/* Content
------------------------------------------------  */

.video-block {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
}

.video-block .video-block-item,
.video-block embed,
.video-block iframe,
.video-block object,
.video-block video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Site prefooter
------------------------------------------------  */

/* Site footer
------------------------------------------------  */

.site-footer p {
  font-size: 0.75rem;
}

/* Media queries
------------------------------------------------  */

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  max-width: 400px;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: #fff;
  border: 1px solid #ccc;
}

form input:not([type=checkbox]),
form textarea:not([type=checkbox]) {
  width: 100%;
}

.text-block:first-of-type p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.signup-form h2 {
  margin-bottom: 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: inline-block;
  width: 100%;
}

.w-30 {
  width: 30%;
}

p:last-child {
  margin-bottom: 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.site-edit,
.site-display {
  width: 75%;
}

.site-directions {
  width: 20%;
}

i.handle {
  float: right;
  cursor: row-resize;
}

