html, body, h1, h2, h3, h4, h5, h6, p, blockquote, address, pre, cite, code, dfn, abbr, acronym, kbd, a, samp, img, ins, i, b, u, strike, small, big, font, tt, q, dl, dt, dd, ul, ol, li, applet, object, iframe, form, fieldset, label, legend, th, td, th, tbody, tfoot, thead, tr, caption {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, img {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

nav ul {
  list-style: none;
  margin-left: 0; }

html, body {
  height: 100%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.no-bullet {
  list-style: none;
  margin-left: 0; }

.display-block {
  display: block; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -9px; }
  .hamburger-inner::after {
    bottom: -9px; }

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 9px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -60px;
      top: -60px;
      transform: translate3d(60px, 60px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -60px;
      top: -60px;
      transform: translate3d(-60px, 60px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/* General
------------------------------------------------  */
body {
  font-family: "Arapey", serif;
  line-height: 1.5;
  color: #3c3f3c;
  background: white;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

p, ul, ol, table {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 400; }

strong {
  font-weight: 800; }

a {
  color: #ff1744;
  text-decoration: none; }

a:hover,
a:focus,
li.current-page a {
  color: #8c1e40; }

h1, h2, h3, h4, h5 {
  font-family: "Arapey", serif;
  color: #8c1e40;
  margin-bottom: 0.25rem;
  line-height: 1.25;
  font-weight: 400;
  font-style: italic; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

ul {
  margin-left: 1rem; }

img {
  max-width: 100%; }

.btn {
  border: 1px solid #ccc;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  box-shadow: 5px 5px 0 0 #ddd;
  color: #3c3f3c;
  font-weight: 800;
  text-transform: uppercase;
  background: white; }

/* Site container
------------------------------------------------  */
.site-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto; }

/* Background colors
------------------------------------------------  */
.bg--header {
  background: url(/assets/img/header-bg-0.jpg) center center;
  background-size: cover;
  margin-bottom: 12rem; }

.bg--form {
  background: #f0f0f0;
  padding: 3rem 0;
  margin: 3rem 0 2rem; }

/* Site header
------------------------------------------------  */
.site-header {
  min-height: 120px; }

.site-branding {
  width: 120px;
  height: 140px;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 3.75rem; }

/* Site hero
------------------------------------------------  */
/* Content
------------------------------------------------  */
.video-block {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }
  .video-block .video-block-item, .video-block embed, .video-block iframe, .video-block object, .video-block video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

/* Site prefooter
------------------------------------------------  */
/* Site footer
------------------------------------------------  */
.site-footer p {
  font-size: 0.75rem; }

/* Media queries
------------------------------------------------  */
form label {
  display: block;
  margin-bottom: 0.5rem; }
form input, form textarea {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: #fff;
  border: 1px solid #ccc; }

.text-block:first-of-type p {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

.signup-form h2 {
  margin-bottom: 2rem; }

/*# sourceMappingURL=restaurantweek.css.map */
